{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Entry</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<header>
    <h1 class="gradient-text">MoodAF</h1>
  </header>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
<body>
    
    <form method="POST" action="/form/">
        {% csrf_token %}
        <p>Hi 
            <input type="text" id="fName" name="fname" placeholder="First Name" class="textbox">   <input type="text" id="lName" name="lname" placeholder="Last Name" class="textbox">, how are you feeling today?
        </p> 
        <p>Entry Date: <input type="date" id="date" name="date" class="textbox">
        <div>
            <h3>What's on your mind?</h3>
            <textarea  class="textbox" id="entryBox" name="entryBox" rows="8" cols="101" placeholder="What's on your mind?" class="textbox"> </textarea> 
        </div>
        <p>
        <input type="submit" name="submit" value = "Log Entry" class="button-34">
    </p>
        
    </form>
        <br>
        
<p>
            <a href="http://127.0.0.1:8000/"><input type="button" name="logout" value = "Logout" class="button-34"></a> </p>

   
</body>
<footer class="footer-distributed">
    <div class="footer-left">
      <p class="footer-links">
        <a href="index.html"> Home </a>
        <a href="form.html"> Logout </a>
        <a href="community.html"> Community </a>
        <a href="#"> About </a>
      </p>
      <p>WeRoll &copy; 2023</p>
    </div>
  </footer>
</html>
