{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Entry</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"/>
</head>
<header>
    <h1 class="gradient-text">MoodAF</h1>
  </header>
  
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
<body>
    
    <form method="POST" action="/form/">
        {% csrf_token %}
        <p>Hi 
            <input type="text" id="fName" name="fname" placeholder="First Name">   <input type="text" id="lName" name="lname" placeholder="Last Name">, how are you feeling today?
        </p> 
        <p>Entry Date: <input type="date" id="date" name="date"></p>
        <p>What's on your mind? </br><textarea placeholder="What's on your mind?" id="entryBox" name="entryBox" rows="8" cols="100" > </textarea> 
        <br>
        <input type="submit" name="submit" value = "Log Entry" class="button-34">
        <a href="summary.html"><input type="button" name="pastEntries" value = "View Past Entries" class="button-34"></a>
        <a href="index.html"><input type="button" name="logout" value = "Logout" class="button-34"></a> </p>
  
    </form>

</body>
</html>
