{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Entry</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<header>
    <h1 class="gradient-text">MoodAF</h1>
  </header>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">

<body>
    <p>
    <a href="http://127.0.0.1:8000/form/"><input type="button" name="submit" value = "Add a New Entry" class="button-34"></a>
    <a href="http://127.0.0.1:8000/"><input type="button" name="logout" value = "Logout" class="button-34"></a>
    </p>    
    <div class="row">
        <h3>{{ first }}'s Entries</h3>
        <div class="column">

          <form style="display:inline-block" method="POST" action="/filterNew/">
            {% csrf_token %}
              <button type="submit">Filter by Newest</button>
          </form>
          <form style="display:inline-block" method="POST" action="/filterOld/">
            {% csrf_token %}
              <button type="submit">Filter by Oldest</button>
          </form>

          <div class="card">
            {% for entry in entries %}
            <p><h2>Date: {{ entry.date }}</h2>
            {{ entry.entryBox }}
            <br>
            <div class="p1">{{ entry.feedback }}</div>
            <br>
            <br>
            {% endfor %}</p>
        </div>
</div>
</div>  
    <p>
        <a href="http://127.0.0.1:8000/form/"><input type="button" name="submit" value = "Add a New Entry" class="button-34"></a>
        <a href="http://127.0.0.1:8000/"><input type="button" name="logout" value = "Logout" class="button-34"></a>
    </p>  
</body>
<footer class="footer-distributed">
  <div class="footer-right">

    <form action="/community/" method="POST">
      {% csrf_token %}
      <button type="submit" class="button-34">Check Out Our Community</button>
    </form>

  </div>
    <div class="footer-left">
      <br>
      Listen to some music<br>
      <audio src="{% static 'music.mp3' %}" controls loop></audio> 
      <p class="footer-links">
        <a href="#"> Home </a>
        <a href="#"> New Entry </a>
        <a href="#"> Logout </a>
        <a href="#"> About </a>
      </p>
      <p>WeRoll &copy; 2023</p>
    </div>
  </footer>
</html>