{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Entry</title>
    <link rel="stylesheet" type="text/css" href="{% static 'summary.css' %}"/>
</head>
<body>
    <a href="http://127.0.0.1:8000/form/"><input type="button" name="submit" value = "Add a New Entry"></a>
    <a href="http://127.0.0.1:8000/"><input type="button" name="logout" value = "Logout"></a>

    <form method="POST" action="{% url 'formSubmit'}">
        {% csrf_token %}
        <div id = "past">
            <div class="row">
                <div class="column">
                    <div class="card">
                    <h3>Trip to FreshCo</h3>
                    <p>From: SunnySide Senior Home </p>
                    <p>@4:15</p>
                    <p>Seats Remaining: 3</p> 
                    <p>Wheelchair ramp included</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </form>

</body>
</html>